{% extends 'base.html.twig' %} {% block title %}Log in!{% endblock %} {% block
  body %}
  {{ include("components/_navbar.html.twig") }}
  <main class="container">
  
    <div class="message">
      {% if app.user %}
      <div class="alert alert-success" role="alert">
        Vous êtes désormais connecté comme {{ app.user.userIdentifier }},
        <a href="{{ path('app_logout') }}">Logout</a>
      </div>
      {% endif %} {% if error %}
      <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
      {% endif %}
    </div>
  {{ include('components/_footer.html.twig') }}
  {% endblock %}
  