{% extends 'base.html.twig' %} {% block title %}Hello AccountController!{%
endblock %} {% block body %}
{{ include("components/_navbar.html.twig") }}
<div class="container">
    <h1>Bienvenue {{ user_name }}</h1>
    <div class="container">
        <input type="button" value="Créer une categorie">
        <input type="button" value="Créer un trick">
    </div>
  <table>
    <h2>Mes tricks</h2>
    <thead>
      <tr>
        <th scope="col" scope="row">#</th>
        <th scope="col">Tricks</th>
        <th scope="col">Categorie</th>
        {% for trick in tricks %}
        {% if trick |length > 1 %}
        <th scope="col">Images</th>
        {% else %}
        <th scope="col">Image</th>
        {% endif %}            
        {% endfor %}
        <th scope="col">description</th>
        <th scope="col">Slug</th>
        <th scope="col"><i class="fa-sharp fa-solid fa-gears"></i> Editer</th>
        <th scope="col"><i class="fa-solid fa-trash"></i> Supprimer</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for trick in tricks %}
      <tr>
        <th scope="col" scope="row">#</th>
        <th>{{ trick.name }}</th>
        <td>
            {% for categorie in trick.category %}
                <span class="badge">{{categorie.name}}</span>
            {% endfor %}
        </td>
        <td>
            {% for image in trick.images %}
                <span>{{ image.name }}</span>
            {% endfor %}
        </td>
        <td>{{ trick.description | excerpt(10) }}</td>
        <td>{{ trick.slug }}</td>
        <td><input type="button" value="Editer"></td>
        <td><input type="button" value="Suppr."></td>
        <td><a href="trick/{{ trick.slug}}"><button><i class="fa-solid fa-eye"></i> Voir</button></a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
