{% extends 'base.html.twig' %} {% block title %}Connexion{% endblock %} {% block
body %}
{{ include('components/_navbar.html.twig') }}
<main class="container">
  <form method="post">
    <div class="message">
      {% if app.user %}
    <div class="mb-3">
      Vous êtes désormais connecté comme {{ app.user.userIdentifier }},
      <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
    </div>

    <article>
      <h2 class="h2">Connexion :</h2>
      <label for="inputUsername">Username</label>
      <input
        type="text"
        value="{{ last_username }}"
        name="username"
        id="inputUsername"
        class="form-control"
        autocomplete="username"
        required
        autofocus
      />
      <label for="inputPassword">Password</label>
      <input
        type="password"
        name="password"
        id="inputPassword"
        class="form-control"
        autocomplete="current-password"
        required
      />

      <input
        type="hidden"
        name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
      />

      {# Uncomment this section and add a remember_me option below your firewall
      to activate remember me functionality. See
      https://symfony.com/doc/current/security/remember_me.html

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="_remember_me" /> Remember me
        </label>
      </div>
      #}

      <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
    </article>
  </form>
</main>
{% endblock %}
