{% block javascripts %}
{{ encore_entry_script_tags("delete") }}
{% endblock %} {% extends 'base.html.twig' %} {% block title %}Snowtricks Home{%
endblock %} {% block body %}
{{ include("components/_navbar.html.twig") }}
{% include "components/_modal.html.twig" %}
<div class="container-fluid">
  {{ include("components/_header.html.twig") }}
  <section>
    {% block mainContainer %}
    <img
      src="{{ asset('build/images/background.jpg') }}"
      alt="image"
      class="bakground"
    />
    <h2 class="h2">Les tricks :</h2>
    <span class="remove-position"></span>
    <div class="container tricks">
      {% for trick in tricks %} {% include "components/_trick.html.twig" with
      {"trick": trick } %} {% endfor %}
    </div>
    {% endblock mainContainer %}
  </section>
  <div class="scroll">
    <i class="fa-solid fa-circle-arrow-up"></i>
  </div>
  {{ include("components/_footer.html.twig") }}
</div>
{% endblock %} {% block javascript %}
<script src="{{ asset('build/delete.js') }}"></script>
{% endblock javascript %}
