{% block navbar %} {# mobile nav #}
<aside>
  <nav>
    <ul class="burger">
      <li>
        <a
          href="#"
          onclick="event.preventDefault()"
          class="secondary"
          aria-label="Menu"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            height="16px"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </a>
      </li>
      <ul class="side-content">
        <a class="cross" onclick="event.preventDefault()">&times;</a>
        <li><p class="title">Snowtricks</p></li>
        <li><a href="{{path('app_home')}}">Home</a></li>
        <li><a href="">Tricks</a></li>
        {% if app.user %}
          {% for key in app.user.roles %}
            {% if key is same as "ROLE_USER" %}
              <li><a href="{{ path('app_account') }}">profil</a></li>
              {% for key in app.user.roles %} {% if key is same as "ROLE_ADMIN" %}
              <li><a href="{{ path('admin') }}">dashboard</a></li>
              {% endif %} {% endfor %}
              <li>
                <a href="{{ path('app_logout') }}" data-hover="deconnexion"><i class="fa-solid fa-user-slash"></i></a>
              </li>
            {% endif %}
          {% endfor %}
        {% else %}
      <li><a href="{{path('app_profile')}}">Connection</a></li>
      <li><a href="{{path('app_register')}}">Enregistrement</a></li>
      {% endif %}
      </ul>
    </ul>
  </nav>
</aside>
{# computer nav #}
<nav class="computer">
  <ul>
    <li><strong>Snowtricks</strong></li>
  </ul>
  <ul>
    <li><a href="{{path('app_home')}}">Home</a></li>
    <li><a href="">Tricks</a></li>
    {% if app.user %}
      {% for key in app.user.roles %}
        {% if key is same as "ROLE_USER" %}
          <li><a href="{{ path('app_account') }}">profil</a></li>
          {% for key in app.user.roles %} {% if key is same as "ROLE_ADMIN" %}
          <li><a href="{{ path('admin') }}">dashboard</a></li>
          {% endif %} {% endfor %}
        <li>
          <a href="{{ path('app_logout') }}" data-hover="deconnexion"><i class="fa-solid fa-user-slash"></i></a>
        </li>
        {% endif %}
      {% endfor %}
    {% else %}
    <li><a href="{{path('app_profile')}}">Connection</a></li>
    <li><a href="{{path('app_register')}}">Enregistrement</a></li>
    {% endif %}    
  </ul>
</nav>
{% endblock navbar %}

