<article>
  <img src="uploads/tricks/{{ trick.image }}" alt="image {{ trick.image }}" />
  <footer>
    <a href="/trick/{{ trick.slug }}">
      <button style="z-index: 0">
        <i class="fa-solid fa-eye"></i>
        {% if trick.name |length > 10 %}
        {{ trick.name | excerpt(10) }}
        {% else %}
        {{ trick.name }}
        {% endif %}
        <a
          href="{{
            ea_url()
              .setController('App\\Controller\\Admin\\TrickCrudController')
              .setAction('edit')
              .setEntityId(trick.id)
          }}"
          ><i class="fa-solid fa-pen"></i
        ></a>
        <a href="http://google.com"><i class="fa-solid fa-trash"></i></a>
      </button>
    </a>
  </footer>
</article>
