{% extends 'base.html.twig' %} {% block title %}Hello TrickController!{%
endblock %} {% block body %} {{ include("components/_navbar.html.twig") }}
<div class="hero">
  <header class="container">
    <hgroup>
      <h1>{{ trick.name }}</h1>
      {% for category in trick.category %}
      <span class="badge">{{ category.name }}</span>
      {% endfor %}
    </hgroup>
    <figure>
      {% if trick.image %}
      <img
        src="/uploads/tricks/{{ trick.image }}"
        alt="position regular"
        width="100%"
        height="auto"
      />
      {% else %}
      <img
        src="/uploads/media/snowboarder.ico"
        alt="position regular"
        width="100%"
        height="auto"
      />
      {% endif %} {% if app.user %}
      <div class="handle">
        <a
          href="{{
            ea_url()
              .setController('App\\Controller\\Admin\\TrickCrudController')
              .setAction('edit')
              .setEntityId(trick.id)
          }}"
        >
          <i class="fa-solid fa-pen"></i>
        </a>
        <a href="{{ path('app_account') }}">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
      {% endif %}
    </figure>
    <div class="mobile">
      <a
        href="{{ path('app_media', { slug: trick.slug }) }}"
        role="button"
        class="see-media"
        >Voir les medias</a
      >
    </div>
    <div class="medias">
      {% if trick.media1 %}
      <span
        ><img
          src="/uploads/media/{{ trick.media1 }}"
          class="thumbnail"
          alt="illustration de {{ trick.name }}"
      /></span>
      {% endif %} {% if trick.media2 %}
      <span
        ><img
          src="/uploads/media/{{ trick.media2 }}"
          class="thumbnail"
          alt="illustration de {{ trick.name }}"
      /></span>
      {% endif %} {% if trick.media3 %}
      <span
        ><img
          src="/uploads/media/{{ trick.media3 }}"
          class="thumbnail"
          alt="illustration de {{ trick.name }}"
      /></span>
      {% endif %} {% if trick.video %}
      <span class="video">{{ trick.video | raw }}</span>
      {% endif %}
    </div>
  </header>
</div>

<div class="container">
  {% if trick.category|length > 1 %}
  <p>
    Catégories: {% for category in trick.category %}
    <span class="badge">{{ category.name }},</span>
    <span> crée le :{{ trick.createdAt|date("m/d/Y")}}</span>
    {% endfor %}
  </p>
  {% else %}
  <p>
    Catégorie: {% for category in trick.category %}
    <span class="badge">{{ category.name }},</span>
    <span> créé le : {{ trick.createdAt|date("m/d/Y")}}</span>
    {% endfor %}
  </p>
  {% endif %}

  <p>{{ trick.description }}</p>

  <h3>Messages ({{ comments.getTotalItemCount }})</h3>
  <div class="comments-container">
  {% if comments %}
  {% for comment in comments  %} {% include
    "components/_comment.html.twig" %} {% endfor %}
    <div>
      {{ knp_pagination_render(comments) }}
    </div>
    {% endif %}
  </div>
  {% if app.user %}
  <div class="container">
    <span class="line"></span>
    <h3>Ajouter un commentaire :</h3>
    <article
      class="comment-card"
      style="background: none; margin: auto; padding: 0"
    >
      {{ form_start(comment_form) }}
      {{ form_row(comment_form.content) }}
      {{ form_end(comment_form) }}
    </article>
  </div>
  {% else %}
  <div class="container"></div>
  {% endif %}
</div>
{% endblock %}
